.skills {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding-top: 34px;
}

.hover-div {
    border: 1px solid var(--border);
    margin: auto;
    border-radius: 20px;
    margin: 66px 48px 36px;
}

.hover-me {
    font-size: 5rem;
    color: var(--border);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Pushes it back half its own size */
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width: 700px) {
    .hover-div {
        margin: 15px;
    }
    .hover-me {
        font-size: 2rem;
    }
}